.rainbow-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #ff0000, #d9ff00);
  z-index: -1;
}

.rainbow2-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #d9ff00, #00ff73);
  z-index: -1;
}

.rainbow3-heading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(to right, #ff00d0, #8800ff);
  z-index: -1;
}

/* This class defines the rainbow-colored border */
.border-rainbow {
  border-image: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  border-image-slice: 1;
}

/* Navbar fade */

.fade-down {
  animation-name: fadeInDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* footer */
.two-line-paragraph {
  display: table-cell;
  vertical-align: middle;
}

.footer-bg {
  background-image: url("src/assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* nav */
.nav-bg {
  background-image: url("src/assets/header-bg.png");
  background-repeat: no-repeat;
}
