@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #f70354;
}

/* Navbar fade */
.fade-down {
  animation-name: fadeInDown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0.5;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* footer */
.two-line-paragraph {
  display: table-cell;
  vertical-align: middle;
}

.footer-bg {
  background-image: url("/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* nav */
.nav-bg {
  background-image: url("/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer text */
@keyframes slideFadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-fade-in-up {
  animation: slideFadeInUp 1.5s ease-out forwards;
}

/* Add this CSS to your stylesheet */
.loader {
  border-top-color: transparent;
  animation: spin 2s linear infinite;
}

.outerLoader {
  border-top-color: transparent;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
